.codex
build/
.claude/
!tests/e2e/testdata/m4/**/build/
tests/e2e/testdata/m4/**/build/*
!tests/e2e/testdata/m4/**/build/.cmake/
tests/e2e/testdata/m4/**/build/.cmake/*
!tests/e2e/testdata/m4/**/build/.cmake/api/
tests/e2e/testdata/m4/**/build/.cmake/api/*
!tests/e2e/testdata/m4/**/build/.cmake/api/v1/
tests/e2e/testdata/m4/**/build/.cmake/api/v1/*
!tests/e2e/testdata/m4/**/build/.cmake/api/v1/reply/
!tests/e2e/testdata/m4/**/build/.cmake/api/v1/reply/**
